@*
Formally verified E-Voting using Dafny
Copyright (C) 2025 Authors Superior Group
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>. 
*@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Superior Voting</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="public">
                <span class="oi oi-globe" aria-hidden="true"></span> Public elections
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create">
                <span class="oi oi-plus" aria-hidden="true"></span> Create
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="insert">
                <span class="oi oi-key" aria-hidden="true"></span> Vote
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="oi oi-monitor" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="explanations">
                <span class="oi oi-star" aria-hidden="true"></span> Explanations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="downloads">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Downloads
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legal">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Legal Notice
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
